
*{
    --base: #49697a54;
    --borderColor: #9FB1BC;
    --cardColor: #6E8898;
    --accentColor: #2E5266;
    color: white;
}

body {
    background-image: url(./assets/css-pattern-by-magicpattern.png);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 16px;
    padding-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
}

.title {
    font-size: 45px;
    font-weight: bold;
    color: var(--accentColor);
    margin-bottom: 16px;
    background-color:#ff000000;
}

.aboutMe p {
    font-size: 16px;
}


.projects .cards> div {
  width: fit-content;
  margin: 0;
  padding: 12px 12px;
  background-color: var(--cardColor);
  border: 3px solid var(--borderColor);
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 20px;
  padding: 20px;
  justify-items: center;
}

div{
    background-color: var(--base);
    padding: 20px;
    margin-bottom: 16px;

}

.cards div:hover{

    box-shadow: 10px 10px var(--accentColor);

}

.cards div > img {
    background-color: white;
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 1px 1px rgba(0,0,0,.4);
}

.cards div > a > img {
    background-color: white;
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 1px 1px rgba(0,0,0,.4);
}

h3 {
    color: var(--accentColor);
    font-family: 'Quicksand', normal;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.637%;
    letter-spacing: 3.52px;
    text-transform: uppercase;
}

.education > ul {
    background-color: var(--cardColors);
    font-size: 24px; 
    list-style: none;
}

.education > ul li { 
    padding: 16px; 
}

.year { 
    color: var(--accentColor);
    margin-right: 36px;
    font-weight: bolder;
}
